<!DOCTYPE html>
<html lang="en">
<head>
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
  <title>URL - TinyApp Example</title>
</head>

<body>
  <%- include('partials/_header') %>
  <div class="card text-center">
    <div class="card-header"></div>
    <div class="card-body">
      <h5 class="card-title">TinyURL for: <%= longURL %></h5>
      <p class="card-text">Short URL: <a href="/u/<%= shortURL %>" target="_blank"><%= shortURL %></a></p>
      <hr />
      <h5 align= "left">Edit</h5>
      <form class="form-inline" action="/urls/<%= shortURL %>" method="POST">
        <div class="form-group mb-2" >
          <label for="longURL">New URL:</label>
          <input class="form-control" type="text" name="longURL" value="<%= longURL %>" style="width: 300px; margin-top: 0.1em; margin-bottom: 0.1em; margin-left: 1em; margin-right: 1em;">
          <button type="submit" class="btn btn-primary">Update</button>
        </div>
      </form>
      <hr />
      <h5 align= "left" style="margin-bottom: 1em;">Visitors</h5>
      <p align="left">Total Visits: <%= visits[shortURL].totalVisit %></p>
      <p align="left">Total Unique Visits: <%= visits[shortURL].totalUniqueVisit %></p>
      <hr />
      <h5 align= "left" style="margin-bottom: 1em;">Logins</h5>
      <table class="table">
        <thead>
          <tr>
            <th scope="col">Visit Address</th>
            <th scope="col">Visit Time</th>
          </tr>
        </thead>
        <tbody>
          <% for(let login of loginRecords[shortURL]) { %>
            <tr>
              <td><%= login.visitID %></td>
              <td><%= login.time %></td>
            </tr>
          <% } %>
        </tbody>
      </table>
    </div>
    <div class="card-footer text-muted"></div>
  </div>
  <!-- Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>